@model WebTools.Models.ReportDetailViewModel
@{
    Layout = null;
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addDetailtLabel" aria-hidden="true" id="DetailPopup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-grip-vertical"></i> Chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="" asp-controller="Report" asp-action="AddDetail" id="myForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IDBieuMau" name="IDBieuMau" value="@Model.ReportDetail.IDBieuMau" />
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Tên biểu mẫu:</label></div>
                        <div class="col-10"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportDetail.TenBM</span></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="MaBM">Mã biểu mẫu:</label></div>
                        <div class="col-4"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportDetail.MaBM</span></div>
                        <div class="col-2 text-right"><label for="PhanMem">Phần mềm:</label></div>
                        <div class="col-4"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportDetail.PhanMem</span></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Khoa/Phòng sử dụng:</label></div>
                        <div class="col-10">
                            <select asp-for="@Model.ReportDetail.KhoaPhong" asp-items="@Model.Depts" class="select2" multiple="multiple" data-placeholder="Chọn khoa phòng" style="width: 100%;" name="KhoaPhong" id="KhoaPhong" data-content="@Model.ReportDetail.KhoaPhong">
                            </select>
                            <input type="hidden" id="txtKhoaPhong" name="txtKhoaPhong" value="@Model.ReportDetail.KhoaPhong" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">URD:<br />Quy trình vận hành</label></div>
                        <div class="col-10"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportDetail.URD</span></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Vị trí in:</label></div>
                        <div class="col-10"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportDetail.ViTriIn</span></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Cách in:</label></div>
                        <div class="col-10"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportDetail.CachIn</span></div>
                    </div>
                    <!--Bảng -->
                    <table class="table table-bordered">
                        <thead class="thead">
                            <tr>
                                <th>STT</th>
                                <th>Phiên bản</th>
                                <th>Ngày ban hành</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th>Trạng thái phần mềm</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 0;
                                if (Model.ReportDetails != null && Model.ReportDetails.Count > 0)
                                {
                                    foreach (var item in Model.ReportDetails)
                                    {
                                        <tr>
                                            <td>@item.STT</td>
                                            <td>@item.PhienBan</td>
                                            <td>@item.NgayBanHanh.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                <input type="hidden" id="IDPhienBan" name="IDPhienBan-@count" value="@item.IDPhienBan" />
                                                <select asp-for="@item.TrangThai" asp-items="@Html.GetEnumSelectList<TrangThai>()" class="custom-select mr-sm-2" id="TrangThai" name="TrangThai-@count">
                                                    <option selected="selected" value="@item.TrangThai">Chọn...</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="GhiChu" name="GhiChu-@count" value="@item.GhiChu">
                                            </td>
                                            <td>@item.TrangThaiPM</td>
                                            @if (item.FileLink != null)
                                            {
                                                <td><a href="/Report/DocumentView?link=@item.FileLink" target="_blank">File</a></td>
                                            }
                                            else
                                            {
                                                <td hidden></td>
                                            }

                                        </tr>
                                        count++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <input type="hidden" name="count" value="@count" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                        <button type="submit" class="btn btn-primary" data-save="modal">Lưu</button>
                        }
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>

    $(function () {
        var string = $('#txtKhoaPhong').val();
        var array = string.split(",").map(Number);
        //Dropdown
        $('.select2').select2()
        $('#KhoaPhong').val(array);
        $('#KhoaPhong').trigger('change');
    });
</script>