@model WebTools.Models.ReportListViewModel
@{
    Layout = null;
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="editReportLabel" aria-hidden="true" id="editReport">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-grip-vertical"></i> Sửa thông tin biểu mẫu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-area="" asp-controller="Report" asp-action="EditReport" id="reportForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IDBieuMau" name="IDBieuMau" value="@Model.ReportList.IDBieuMau" />
                    <input type="hidden" id="IDPhienBan" name="IDPhienBan" value="@Model.ReportList.IDPhienBan" />
                    <div class="row mb-3">
                        <div class="col-3"><label for="TenBM">Tên biểu mẫu:</label></div>
                        <div class="col-9"><input type="text" class="form-control" name="TenBM" id="TenBM" placeholder="Nhập tên biểu mẫu" value="@Model.ReportList.TenBM" required /></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="MaBM">Mã biểu mẫu:</label></div>
                        <div class="col-3"><input type="text" class="form-control" name="MaBM" id="MaBM" placeholder="Nhập mã biểu mẫu" value="@Model.ReportList.MaBM" readonly /></div>
                        <div class="col-3 text-right"><label for="NgayBanHanh">Ngày ban hành:</label></div>
                        <div class="col-3">
                            <div class="input-group date" id="reportdate" data-target-input="nearest">
                                <input type="text" name="NgayBanHanh" id="NgayBanHanh" class="form-control datetimepicker-input" data-target="#reportdate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask autocomplete="off" value="@Model.ReportList.NgayBanHanh" required />
                                <div class="input-group-append" data-target="#reportdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="fileUpload">File:</label></div>
                        <div class="col-4">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input fileUpload" id="fileUpload" name="fileUpload" />
                                <label class="custom-file-label" for="customFile">Chọn file</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="/Report/DocumentView?link=@Model.ReportList.FileLink" target="_blank"><span>File cũ</span></a>
                            <input type="hidden" id="FileLink" name="FileLink" value="@Model.ReportList.FileLink" />
                        </div>
                        <div class="col-2 text-right"><label for="PhienBan">Phiên bản</label></div>
                        <div class="col-2"><input type="text" class="form-control" id="PhienBan" name="PhienBan" value="@Model.ReportList.PhienBan" readonly /></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="GhiChu">Ghi chú:</label></div>
                        <div class="col-9"><input type="text" class="form-control" name="GhiChu" id="GhiChu" value="@Model.ReportList.GhiChu" /></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="KhoaPhongSD">Khoa/Phòng sử dụng:</label></div>
                        <div class="col-9">
                            <select asp-for="@Model.ReportList.KhoaPhong" asp-items="@Model.Depts" class="select2" multiple="multiple" data-placeholder="Chọn khoa phòng" style="width: 100%;" name="KhoaPhong" id="KhoaPhong" data-content="@Model.ReportList.KhoaPhong">
                            </select>
                            <input type="hidden" id="txtKhoaPhong" name="txtKhoaPhong" value="@Model.ReportList.KhoaPhong" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3"><label for="TheLoai">Thể loại:</label></div>
                        <div class="col-4">
                            <select class="form-control" name="postTheLoai" id="postTheLoai">
                                <option selected disabled>@Model.ReportList.TheLoai</option>
                                <option value="1">Biểu mẫu chuyên môn</option>
                                <option value="2">Báo cáo thống kê</option>
                                <option value="3">Biểu đồ</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        @if (User.IsInRole("Editer") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            <button type="submit" class="btn btn-primary" data-save="modalFile">Lưu</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var tenBM = this.getElementById("TenBM");
        $.validator.setDefaults({
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('#reportForm').validate({
            rules: {
                TenBM: {
                    required: true
                },
                MaBM: {
                    required: true
                },
                NgayBanHanh: {
                    required: true
                },
            },
            messages: {
                TenBM: {
                    required: "Tên biểu mẫu không được trống"
                },
                MaBM: {
                    required: "Mã biểu mẫu không được trống"
                },
                NgayBanHanh: "Ngày ban hành không được trống"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });

    //$(function () {

    //    $(this).on('click', '[data-save="modalFile"]', function (event) {
    //        event.preventDefault();

    //        var actionUrl = $("#myForm").attr('action');
    //        var methodType = $("#myForm").attr('method');

    //        var formData = new FormData();
    //        formData.append("IDBieuMau", $("#IDBieuMau").val());
    //        formData.append("TenBM", $("#TenBM").val());
    //        formData.append("MaBM", $("#MaBM").val());
    //        formData.append("NgayBanHanh", $("#NgayBanHanh").val());
    //        formData.append("fileUpload", $("#fileUpload")[0].files[0]);
    //        formData.append("PhienBan", $("#PhienBan").val());
    //        formData.append("GhiChu", $("#GhiChu").val());
    //        formData.append("KhoaPhong", $("#KhoaPhong").val());
    //        formData.append("postTheLoai", $("#postTheLoai").val());
    //        $.ajax({
    //            type: methodType,
    //            url: actionUrl,
    //            data: formData,
    //            processData: false,
    //            contentType: false,

    //            success: function (data) {
    //                console.log(data);
    //                alert("Thành công!");
    //            },
    //            error: function (data) {
    //                console.log(data);
    //                alert("Lỗi!");
    //            }
    //        }).done(function (data) {
    //            $(this).find('.modal').modal('hide');
    //            location.reload();
    //        })
    //    });

    //});

    $(function () {
        //Dropdown
        $('.select2').select2()

        //Date picker
        $('#reportdate').datetimepicker({
            format: 'DD/MM/YYYY'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('[data-mask]').inputmask()

        //File upload show name file
        bsCustomFileInput.init()
    });
    $(function () {
        var string = $('#txtKhoaPhong').val();
        var array = string.split(",").map(Number);
        //Dropdown
        $('.select2').select2()
        $('#KhoaPhong').val(array);
        $('#KhoaPhong').trigger('change');
    });
</script>

