@model WebTools.Models.ReportSoftViewModel
@{
    Layout = null;
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addSoftLabel" aria-hidden="true" id="SoftPopup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phần mềm</h5>
                <div class="row">
                    <div class="col-md-6">
                        @{
                            if (TempData["SuccessMsg"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["SuccessMsg"]
                                </div>
                            }
                            if (TempData["ErrorMsg"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["ErrorMsg"]
                                </div>
                            }
                        }
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="" asp-controller="Report" asp-action="AddSoft" id="myForm" modelAttribute="@Model.ReportSofts">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IDBieuMau" name="IDBieuMau" value="@Model.ReportSoft.IDBieuMau" />
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Tên biểu mẫu:</label></div>
                        <div class="col-10"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportSoft.TenBM</span></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="MaBM">Mã biểu mẫu:</label></div>
                        <div class="col-6"><span style="color:dodgerblue; font-weight:bold;">@Model.ReportSoft.MaBM</span></div>
                        <div class="col-2 text-right"><label for="PhanMem">Phần mềm:</label></div>
                        <div class="col-2">
                            <select asp-for="ReportSoft.PhanMem" asp-items="@Html.GetEnumSelectList<PhanMem>()" class="form-control" id="PhanMem" name="PhanMem">
                                <option selected="selected" value="@Model.ReportSoft.PhanMem">Chọn...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">URD:<br />(Quy trình vận hành)</label></div>
                        <div class="col">
                            <select class="select2" multiple="multiple" data-placeholder="Chọn" style="width: 100%;" asp-items="@Model.URDs" name="URD" id="URD"></select>
                            <input type="hidden" id="txtURD" name="txtURD" value="@Model.ReportSoft.URD" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Vị trí in:</label></div>
                        <div class="col-10">
                            <input type="text" class="form-control" id="ViTriIn" name="ViTriIn" value="@Model.ReportSoft.ViTriIn">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Cách in:</label></div>
                        <div class="col-10">
                            <textarea class="form-control" id="CachIn" Name="CachIn" rows="4">@Model.ReportSoft.CachIn</textarea>
                        </div>
                    </div>
                    <!--Bảng -->
                    <table class="table table-bordered" id="tbPhienBan">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Phiên bản</th>
                                <th>Ngày ban hành</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th>Xem</th>
                                <th>Trạng thái phần mềm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 0;
                                if (Model.ReportSofts != null && Model.ReportSofts.Count > 0)
                                {
                                    foreach (var item in Model.ReportSofts)
                                    {
                                        <tr>
                                            <td>@item.STT</td>
                                            <td>@item.PhienBan</td>
                                            <td>@item.NgayBanHanh.ToString("dd/MM/yyyy")</td>
                                            <td>@item.TrangThai</td>
                                            <td>@item.GhiChu</td>
                                            @if (item.FileLink != null)
                                            {
                                                <td><a href="/Report/DocumentView?link=@item.FileLink" target="_blank">File</a></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>
                                                <input type="hidden" id="IDPhienBan" name="IDPhienBan-@count" value="@item.IDPhienBan" />
                                                <select asp-for="@item.TrangThaiPM" asp-items="@Html.GetEnumSelectList<TrangPhaiPM>()" class="custom-select mr-sm-2" id="TrangThaiPM" name="TrangThaiPM-@count">
                                                    <option selected="selected" value="@item.TrangThaiPM">Chọn...</option>
                                                </select>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <input type="hidden" name="count" value="@count" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" data-save="modal">Lưu</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        var string = $('#txtURD').val();
        var array = string.split(",").map(Number);
        //Dropdown
        $('.select2').select2()
        $('#URD').val(array);
        $('#URD').trigger('change');
    });
</script>
