@model WebTools.Models.ReportSoftViewModel
@{
    Layout = null;
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addSoftLabel" aria-hidden="true" id="SoftPopup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phần mềm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="" asp-controller="Report" asp-action="AddSoft">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IDBieuMau" name="IDBieuMau" value="@Model.ReportSoft.IDBieuMau" />
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Tên biểu mẫu:</label></div>
                        <div class="col-10">@Model.ReportSoft.TenBM</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="MaBM">Mã biểu mẫu:</label></div>
                        <div class="col-6">@Model.ReportSoft.MaBM</div>
                        <div class="col-2 text-right"><label for="PhanMem">Phần mềm:</label></div>
                        <div class="col-2">
                            <select asp-for="ReportSoft.PhanMem" asp-items="@Html.GetEnumSelectList<PhanMem>()" class="form-control" id="PhanMem" name="PhanMem">
                                <option selected="selected" value="@Model.ReportSoft.PhanMem">Chọn...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">URD:<br />Quy trình vận hành</label></div>
                        <div class="col">
                            @for (int i = 0; i < Model.URDLists.Count; i++)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="@Model.URDLists[i].Value" name="URD" value="@Model.URDLists[i].Value" />
                                    <label class="form-check-label" for="URD">@Model.URDLists[i].Text</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Vị trí in:</label></div>
                        <div class="col-10">
                            <input type="text" class="form-control" id="ViTriIn" name="ViTriIn" value="@Model.ReportSoft.ViTriIn">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Cách in:</label></div>
                        <div class="col-10">
                            <textarea class="form-control" id="CachIn" Name="CachIn">@Model.ReportSoft.CachIn</textarea>
                        </div>
                    </div>
                    <!--Bảng -->
                    <table class="table table-bordered" id="tbPhienBan">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Phiên bản</th>
                                <th>Ngày ban hành</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th>Xem</th>
                                <th>Trạng thái phần mềm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.ReportSofts != null && Model.ReportSofts.Count > 0)
                                {
                                    foreach (var item in Model.ReportSofts)
                                    {
                                        <tr>
                                            <td>@item.STT</td>
                                            <td>@item.PhienBan</td>
                                            <td>@item.NgayBanHanh.ToString("dd/MM/yyyy")</td>
                                            <td>@item.TrangThai</td>
                                            <td>@item.GhiChu</td>
                                            <td><a href="#/@item.FileLink"></a>File</td>
                                            <td>
                                                <input type="hidden" id="IDPhienBan[@item.IDPhienBan]" name="IDPhienBan[@item.IDPhienBan]" value="@item.IDPhienBan" />
                                                <select asp-for="@item.TrangThaiPM" asp-items="@Html.GetEnumSelectList<TrangPhaiPM>()" class="custom-select mr-sm-2" id="TrangThaiPM[@item.TrangThaiPM]" name="TrangThaiPM[@item.TrangThaiPM]">
                                                    <option selected="selected" value="@item.TrangThaiPM">Chọn...</option>
                                                </select>                                                
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-save="modal" onclick="this.parentElement.submit();">Lưu</button>
            </div>
        </div>
    </div>
</div>