@model WebTools.Models.ReportVersionViewModel
@{
    Layout = null;
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addVersionLabel" aria-hidden="true" id="VersionPopup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm phiên bản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>         
            </div>
            <div class="modal-body">                
                <form method="post" asp-area="" asp-controller="Report" asp-action="AddVersion" id="myForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IDBieuMau" name="IDBieuMau" value="@Model.VersionList.IDBieuMau"/>
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Tên biểu mẫu:</label></div>
                        <div class="col">@Model.VersionList.TenBM</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="MaBM">Mã biểu mẫu:</label></div>
                        <div class="col-5">@Model.VersionList.MaBM</div>
                        <div class="col-2 text-right"><label for="NgayBanHanh">Ngày ban hành:</label></div>
                        <div class="col"><input type="date" class="form-control" name="NgayBanHanh" id="NgayBanHanh" value="@Model.VersionList.NgayBanHanhNew"/></div>
                    </div>
                    <!--Bảng -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Phiên bản</th>
                                <th>Ngày ban hành</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.VersionLists != null && Model.VersionLists.Count > 0)
                                {
                                    foreach (var item in Model.VersionLists)
                                    { 
                                        <tr>
                                            <td>@item.STT</td>
                                            <td>@item.PhienBan</td>
                                            <td>@item.NgayBanHanh.ToString("dd/MM/yyyy")</td>
                                            <td>@item.TrangThai</td>
                                            <td>@item.GhiChu</td>
                                            <td><a href="#/@item.FileLink"></a>File</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row mb-3">
                        <div class="col-2"><label for="fileUpload">File:</label></div>
                        <div class="col-5"><input asp-for="VersionList.fileUpload" class="form-control" id="fileUpload" name="fileUpload" /></div>
                        <div class="col text-right"><label for="PhienBanSD">Phiên bản</label></div>
                        <div class="col"><input type="text" class="form-control" name="PhienBan" id="PhienBan" value="@Model.VersionList.PhienBan"/></div>
                        <div class="col mb-3 text-right"><label for="PhienBanSD">Số PB:<strong>@Model.VersionList.SoPB</strong></label></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="GhiChu">Ghi chú:</label></div>
                        <div class="col"><input type="text" class="form-control" name="GhiChu" id="GhiChu" value="@Model.VersionList.GhiChu"/></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-save="modalFile">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(this).on('click', '[data-save="modalFile"]', function (event) {
            event.preventDefault();
            var actionUrl = $("#myForm").attr('action');
            var methodType = $("#myForm").attr('method');

            var formData = new FormData();
            formData.append("IDBieuMau", $("#IDBieuMau").val());
            formData.append("TenBM", $("#TenBM").val());
            formData.append("MaBM", $("#MaBM").val());
            formData.append("NgayBanHanh", $("#NgayBanHanh").val());
            formData.append("fileUpload", $("#fileUpload")[0].files[0]);
            formData.append("PhienBan", $("#PhienBan").val());
            formData.append("GhiChu", $("#GhiChu").val());
            $.ajax({
                type: methodType,
                url: actionUrl,
                data: formData,
                processData: false,
                contentType: false,

                success: function (data) {
                    alert("Thành công!");
                },
                error: function (data) {
                    alert("Lỗi!");
                }
            }).done(function (data) {
                $(this).find('.modal').modal('hide');
                location.reload();
            })
        });
    })
</script>