@model WebTools.Models.ReportVersionViewModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<style>
    .dataTables_filter {
        display: none;
    }

    .dataTables_info {
        display: none;
    }

    .dataTables_paginate {
        display: none;
    }
</style>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addVersionLabel" aria-hidden="true" id="VersionPopup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-grip-vertical"></i> Thêm phiên bản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-area="" asp-controller="Report" asp-action="AddVersion" id="addVersionForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="IDBieuMau" name="IDBieuMau" value="@Model.VersionList.IDBieuMau" />
                    <div class="row mb-3">
                        <div class="col-2"><label for="TenBM">Tên biểu mẫu:</label></div>
                        <div class="col"><span style="color:dodgerblue; font-weight:bold;">@Model.VersionList.TenBM</span></div>
                        <input type="hidden" id="TenBM" name="TenBM" value="@Model.VersionList.TenBM" />
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="MaBM">Mã biểu mẫu:</label></div>
                        <div class="col"><span style="color:dodgerblue; font-weight:bold;">@Model.VersionList.MaBM</span></div>
                        <div class="col-3 text-right"><label for="NgayBanHanh">Ngày ban hành:</label></div>
                        <div class="col-3">
                            <div class="input-group date" id="versiondate" data-target-input="nearest">
                                <input type="text" name="NgayBanHanh" id="NgayBanHanh" class="form-control datetimepicker-input" data-target="#versiondate" required value="@Model.VersionList.NgayBanHanhNew" />
                                <div class="input-group-append" data-target="#versiondate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Bảng -->
                    <table class="table table-bordered" id="versionTable" width="100%">
                        <thead class="thead">
                            <tr>
                                <th>STT</th>
                                <th>Phiên bản</th>
                                <th>Ngày ban hành</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                    <div class="row mb-3">
                        <div class="col-2"><label for="fileUpload">File:</label></div>
                        <div class="col-5">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileUpload" name="fileUpload" />
                                <label class="custom-file-label" for="customFile">Chọn file</label>
                            </div>
                        </div>
                        <div class="col text-right"><label for="PhienBanSD">Phiên bản:</label></div>
                        <div class="col"><input type="text" class="form-control" name="PhienBan" id="PhienBan" value="@Model.VersionList.PhienBan" required /></div>
                        <div class="col mr-2 text-right"><label for="PhienBanSD">Số PB:&nbsp;<span style="color:dodgerblue; font-weight:bold;">@Model.VersionList.SoPB</span></label></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"><label for="GhiChu">Ghi chú:</label></div>
                        <div class="col"><input type="text" class="form-control" name="GhiChu" id="GhiChu" value="@Model.VersionList.GhiChu" /></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            <button type="button" class="btn btn-primary" data-save="modalFile">Lưu</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //Date picker
        $('#versiondate').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
    })
    //File upload show name file
    $(function () {
        bsCustomFileInput.init()
    })

    $(function () {
        var idBieuMau = $('#IDBieuMau').val();
        var columnData = [
            { "data": "stt" },
            { "data": "phienBan" },
            { "data": "ngayBanHanh" },
            { "data": "trangThai" },
            { "data": "ghiChu" },
            {
                "data": { idPhienBan: "idPhienBan", fileLink: "fileLink" },
                "render": function (data, row) {
                    if (data.fileLink == null || data.fileLink == "") {
                        return "&nbsp;";
                    }
                    else {
                        return "<a href='/Report/DocumentView?link=" + data.idPhienBan + "' target='_blank'>File</a>";
                    }
                }
            },
            {
                "data": { idPhienBan: "idPhienBan", idBieuMau: "idBieuMau", fileLink: "fileLink" },
                "render": function (data, row) { return '<a type="button" class="btn btn-link btn-sm" data-toggle="delete" data-target="#deleteRow-' + data.idPhienBan + '" data-mode-phienban="' + data.idPhienBan + '" data-mode-bieumau="' + data.idBieuMau + '" data-mode-link="' + data.fileLink + '">Xóa</a>'; }
            },
        ]
        var table = searchDataTable("#versionTable", columnData, "/Report/GetVersionsJson?id=" + idBieuMau, "");

        $('body .modal-body').on('click', 'a[data-toggle="delete"]', function (event) {
            event.preventDefault();
            let response = confirm("Bạn có chắc chắn muốn xóa phiên bản này?");
            var idPhienBan = $(this).data("mode-phienban");
            var idBieuMau = $(this).data("mode-bieumau");
            var fileLink = $(this).data("mode-link");
            if (response) {
                $.ajax({
                    url: '/Report/DeleteVersionsJson?id=' + idPhienBan + '&link=' + fileLink,
                    type: "POST",
                    dataType: 'json; charset=utf-8',
                    success: function (data) {
                    },
                    complete: function (message) {
                        $(this).callToast("success", "Thành công!", "Đã xóa phiên bản thành công.");
                        searchDataTable("#versionTable", columnData, "/Report/GetVersionsJson?id=" + idBieuMau, "");
                    }
                });
            }
        });
        $('body .modal-body').on('click', 'button[data-save="modalFile"]', function (event) {
            event.preventDefault();
            var exists = !! ~document.getElementById('versionTable').innerHTML.indexOf(document.getElementById('PhienBan').value);
            if (exists) {
                $(this).callToast("info", "Thông báo!", "Phiên bản đã tồn tại. Hãy sử dụng một phiên bản khác");
            }
            else {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var methodType = form.attr('method');

                var formData = new FormData(document.getElementById("addVersionForm"));

                $.ajax({
                    type: methodType,
                    url: actionUrl,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(this).callToast("success", "Thành công!", "Đã thêm phiên bản mới.");
                    },
                    error: function (xhr, desc, err) {
                        $(this).callToast("error", "Lỗi!", "Phiên bản đã tồn tại. Vui lòng chọn phiên bản khác");
                    }
                }).done(function (data) {
                    searchDataTable("#versionTable", columnData, "/Report/GetVersionsJson?id=" + idBieuMau, "");
                })
            }
        });
    });

</script>