@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model WebTools.Models.ReportListViewModel

@{
    ViewData["Title"] = "Quản lý biểu mẫu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">
                <h1>Danh sách biểu mẫu</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                @{
                    if (TempData["SuccessMsg"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () { toastr["success"]('@TempData["SuccessMsg"]');}
                        </script>

                    }
                    if (TempData["ErrorMsg"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () { toastr["error"]('@TempData["ErrorMsg"]');}
                        </script>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!--Tìm kiếm -->
                        @using (Html.BeginForm())
                        {
                            <div class="row align-items-end">
                                <div class="col-3 pr-5">
                                    <label>Tên/Mã biểu mẫu:</label>
                                    <input type="text" class="form-control" name="SearchString" id="SearchString" value="@TempData["SearchString"]" />
                                </div>
                                <div class="col-auto pl-2 pr-5">
                                    <label>Ngày ban hành:</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" id="SearchDate" name="SearchDate" class="form-control datetimepicker-input" data-target="#reservationdate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask autocomplete="off" value="@TempData["SearchDate"]" />
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto pl-2 pr-5">
                                    <label>Trạng thái:</label>
                                    @Html.DropDownList("SearchTrangThaiSD", new List<SelectListItem>
                                    {   new SelectListItem{Text="Đang sử dụng", Value="Đang sử dụng"},
                                        new SelectListItem{Text="Chưa ban hành", Value="Chưa ban hành"},
                                        new SelectListItem{Text="Đã hủy", Value="Đã hủy"}
                                    }, "Tất cả", new { @class = "form-control" })
                                </div>
                                <div class="col-auto pl-2 pr-5">
                                    <label>Trạng thái phần mềm:</label>
                                    @Html.DropDownList("SearchTrangThaiPM", new List<SelectListItem>
                                    {   new SelectListItem{Text="Đã hoàn thành", Value="Đã hoàn thành"},
                                        new SelectListItem{Text="Chưa hoàn thành", Value="Chưa hoà"},
                                        new SelectListItem{Text="Chưa có", Value="Chưa có"}
                                    }, "Tất cả", new { @class = "form-control" })
                                </div>
                                <div class="col-auto"><button type="submit" class="btn btn-primary">Tìm kiếm</button></div>
                                @*@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Create)).Result.Succeeded)
                                    {*@
                                @if (User.IsInRole("Editer") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                                {

                                    <div class="col-auto"><button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#addReport" data-url="@Url.Action("AddReport")">Thêm biểu mẫu</button></div>
                                }
                                @*}*@
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        <div id="ReportPopup"></div>
                        <!--Bảng biểu mẫu -->
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" id="tableReport">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên biểu mẫu</th>
                                                <th>Mã biểu mẫu</th>
                                                <th>Phiên bản</th>
                                                <th>Ngày phát hành</th>
                                                <th>Trạng thái</th>
                                                <th>Phần mềm</th>
                                                <th>Trạng thái phần mềm</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model.ReportLists != null && Model.ReportLists.Count > 0)
                                                {
                                                    foreach (var item in Model.ReportLists)
                                                    {
                                                        <tr>
                                                            <td>@item.STT</td>
                                                            <td>@item.TenBM</td>
                                                            <td>@item.MaBM</td>
                                                            <td>@item.PhienBan</td>
                                                            <td>@item.NgayBanHanh</td>
                                                            <td>@item.TrangThai</td>
                                                            <td>@item.PhanMem</td>
                                                            <td>@item.TrangThaiPM</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    @if (item.FileLink != null)
                                                                    {
                                                                        <a class="btn btn-link" data-toggle="ajax-modal" data-target="#documentView-@item.IDBieuMau" data-url="/Report/PopUpDocumentView?link=@item.FileLink">File</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="#" target="_blank" class="btn btn-link">&nbsp; &nbsp; &nbsp; &nbsp;</a>
                                                                    }

                                                                    @if (User.IsInRole("Editer") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                                                                    {
                                                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                                            Chi tiết
                                                                        </button>
                                                                        <div class="dropdown-menu" role="menu">
                                                                            <a class="dropdown-item" data-toggle="ajax-modal" data-target="#reportVersion-@item.IDBieuMau" data-url="/Report/Version?id=@item.IDBieuMau">Phiên bản</a>
                                                                            <a class="dropdown-item" data-toggle="ajax-modal" data-target="#reportSoft-@item.IDBieuMau" data-url="/Report/Soft?id=@item.IDBieuMau">Phần mềm</a>
                                                                            <a class="dropdown-item" data-toggle="ajax-modal" data-target="#reportDetail-@item.IDBieuMau" data-url="/Report/Detail?id=@item.IDBieuMau">Chi tiết</a>
                                                                            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                                                                            {<a class="dropdown-item" data-toggle="ajax-modal" data-target="#reportEdit-@item.IDBieuMau" data-url="/Report/EditReport?id=@item.IDBieuMau">Sửa biểu mẫu</a>}
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                        <tfoot style="display:none;">
                                            <tr>
                                                <th></th>
                                                <th>Tên biểu mẫu</th>
                                                <th>Mã biểu mẫu</th>
                                                <th>Phiên bản</th>
                                                <th>Ngày phát hành</th>
                                                <th>Trạng thái</th>
                                                <th>Phần mềm</th>
                                                <th>Trạng thái phần mềm</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ReportPopup"></div>
</section>




