@model WebTools.Models.ReportListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Report/Shared/_Layout.cshtml";
}

<div id="ReportPopup"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @{
                if (TempData["SuccessMsg"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMsg"]
                    </div>
                }
                if (TempData["ErrorMsg"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMsg"]
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-11">
        <!--Tìm kiếm -->
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col text-right"><label>Tên/Mã biểu mẫu:</label></div>
                <div class="col">@Html.TextBox("SearchString",null, new { type="text", @class="form-control" })</div>
                <div class="col text-right"><label>Ngày ban hành:</label></div>
                <div class="col">@Html.TextBox("SearchDate",null, new { type="date", @class="form-control" })</div>
                <div class="col text-right"><label>Trạng thái:</label></div>
                <div class="col">
                    @Html.DropDownList("SearchTrangThaiSD", new List<SelectListItem>
                    {   new SelectListItem{Text="Đang sử dụng", Value="Đang sử dụng"},
                        new SelectListItem{Text="Chưa ban hành", Value="Chưa ban hành"},
                        new SelectListItem{Text="Đã hủy", Value="Đã hủy"}
                    }, "Tất cả",new{@class ="form-control"})
                </div>
                <div class="col text-right"><label>Trạng thái phần mềm:</label></div>
                <div class="col">
                        @Html.DropDownList("SearchTrangThaiPM", new List<SelectListItem>
                    {   new SelectListItem{Text="Đã hoàn thành", Value="Đã hoàn thành"},
                        new SelectListItem{Text="Chưa hoàn thành", Value="Chưa hoà"},
                        new SelectListItem{Text="Chưa có", Value="Chưa có"}
                    }, "Tất cả",new{@class ="form-control"})
                </div>
                <div class="col"><button type="submit" class="btn btn-primary">Tìm kiếm</button></div>
                <div class="col"><button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#addReport" data-url="@Url.Action("AddReport")">Thêm biểu mẫu</button></div>
            </div>
        }
    </div>
</div>
            
<div class="row justify-content-md-center">
    <div class="col-11">
        <h1>Danh sách biểu mẫu</h1>
        <!--Bảng biểu mẫu -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.ActionLink("STT", "Index", new { sortField = "STT", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter}) </th>
                    <th>@Html.ActionLink("Tên biểu mẫu", "Index", new { sortField = "TenBM", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter})</th>
                    <th>@Html.ActionLink("Mã biểu mẫu", "Index", new { sortField = "MaBM", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter})</th>
                    <th>@Html.ActionLink("Phiên bản", "Index", new { sortField = "PhienBan", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter})</th>
                    <th>@Html.ActionLink("Ngày phát hành", "Index", new { sortField = "NgayBanHanh", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter})</th>
                    <th>@Html.ActionLink("Trạng thái", "Index", new { sortField = "TrangThai", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter})</th>
                    <th>@Html.ActionLink("Phần mềm", "Index", new { sortField = "PhanMem", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter})</th>
                    <th>@Html.ActionLink("Trạng thái phần mềm", "Index", new { sortField = "TrangThaiPM", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter})</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.PagingLists != null && Model.PagingLists.Count > 0)
                    {
                        foreach (var item in Model.PagingLists)
                        {
                                <tr>
                                    <td>@item.STT</td>
                                    <td>@item.TenBM</td>
                                    <td>@item.MaBM</td>
                                    <td>@item.PhienBan</td>
                                    <td>@item.NgayBanHanh.ToString("dd/MM/yyyy")</td>
                                    <td>@item.TrangThai</td>
                                    <td>@item.PhanMem</td>
                                    <td>@item.TrangThaiPM</td>
                                    <td>
                                        <a href="/@item.FileLink"></a>
                                        <div class="dropdown">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Chọn...
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" data-toggle="ajax-modal" data-target="#reportVersion" data-url="/Report/Version?id=@item.IDBieuMau">Phiên bản</a>
                                                <a class="dropdown-item" data-toggle="ajax-modal" data-target="#reportSoft" data-url="/Report/Soft?id=@item.IDBieuMau">Phần mềm</a>
                                                <a class="dropdown-item" data-toggle="ajax-modal" data-target="#reportDetail" data-url="/Report/Detail?id=@item.IDBieuMau">Chi tiết</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <!-- Phân trang và đánh số trang-->
        @{
            var prevDisabled = !Model.PagingLists.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.PagingLists.HasNextPage ? "disabled" : "";
            var totalPageNo = Model.PagingLists.TotalPageNo;
            var currentPageNo = Model.PagingLists.PageIndex;
        }
        <div class="row">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNo="@(Model.PagingLists.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Trang trước
            </a>
            @*@for (int p = 1; p <= Model.PagingLists.TotalPageNo; p++ )
            {
               <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNo="@p"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">@p</a>
            }*@
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNo="@(Model.PagingLists.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Trang sau
            </a>
            <div class="col text-right"><span>Trang: @currentPageNo trên @totalPageNo</span></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function goReportVersion(Id){

    }

    function goReportSoft(Id) {

    }

    function goReportDetail(Id) {

    }
</script>
