@model WebTools.Models.ReportListViewModel

@{
    ViewData["Title"] = "Quản lý biểu mẫu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">
                <h1>Danh sách biểu mẫu</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                @{
                    if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMsg"]
                        </div>
                    }
                    if (TempData["ErrorMsg"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMsg"]
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!--Tìm kiếm -->
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-md">
                                    <label>Tên/Mã biểu mẫu:</label>
                                    <input type="text" class="form-control" name="SearchString" id="SearchString" autocomplete="off" />
                                </div>
                                <div class="col-md-2">
                                    <label>Ngày ban hành:</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" id="SearchDate" name="SearchDate" class="form-control datetimepicker-input" data-target="#reservationdate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask autocomplete="off" />
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>Trạng thái:</label>
                                    @Html.DropDownList("SearchTrangThaiSD", new List<SelectListItem>
                                    {   new SelectListItem{Text="Đang sử dụng", Value="Đang sử dụng"},
                                        new SelectListItem{Text="Chưa ban hành", Value="Chưa ban hành"},
                                        new SelectListItem{Text="Đã hủy", Value="Đã hủy"}
                                    }, "Tất cả", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    <label>Trạng thái phần mềm:</label>
                                    @Html.DropDownList("SearchTrangThaiPM", new List<SelectListItem>
                                    {   new SelectListItem{Text="Đã hoàn thành", Value="Đã hoàn thành"},
                                        new SelectListItem{Text="Chưa hoàn thành", Value="Chưa hoà"},
                                        new SelectListItem{Text="Chưa có", Value="Chưa có"}
                                    }, "Tất cả", new { @class = "form-control" })
                                </div>
                                <div class="col-md-1"><button type="submit" class="btn btn-primary">Tìm kiếm</button></div>
                                <div class="col-md-1"><a class="btn btn-success" data-toggle="ajax-modal" data-target="#addReport" data-url="@Url.Action("AddReport")">Thêm biểu mẫu</a></div>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        <div id="ReportPopup"></div>
                        <!--Bảng biểu mẫu -->
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable dtr-inline" role="grid" id="tableReport">
                                        <thead>
                                            <tr>
                                                <th>@Html.ActionLink("STT", "Index", new { sortField = "STT", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter }) </th>
                                                <th>@Html.ActionLink("Tên biểu mẫu", "Index", new { sortField = "TenBM", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th>@Html.ActionLink("Mã biểu mẫu", "Index", new { sortField = "MaBM", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th>@Html.ActionLink("Thể loại", "Index", new { sortField = "TheLoai", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th>@Html.ActionLink("Phiên bản", "Index", new { sortField = "PhienBan", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th>@Html.ActionLink("Ngày phát hành", "Index", new { sortField = "NgayBanHanh", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th>@Html.ActionLink("Trạng thái", "Index", new { sortField = "TrangThai", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th>@Html.ActionLink("Phần mềm", "Index", new { sortField = "PhanMem", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th>@Html.ActionLink("Trạng thái phần mềm", "Index", new { sortField = "TrangThaiPM", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model.PagingLists != null && Model.PagingLists.Count > 0)
                                                {
                                                    foreach (var item in Model.PagingLists)
                                                    {
                                                        <tr>
                                                            <td>@item.STT</td>
                                                            <td>@item.TenBM</td>
                                                            <td>@item.MaBM</td>
                                                            <td>@item.TheLoai</td>
                                                            <td>@item.PhienBan</td>
                                                            <td>@item.NgayBanHanh</td>
                                                            <td>@item.TrangThai</td>
                                                            <td>@item.PhanMem</td>
                                                            <td>@item.TrangThaiPM</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    @if (item.FileLink != null)
                                                                    {
                                                                        <a href="/Report/DocumentView?link=@item.FileLink" target="_blank" class="btn btn-link">File</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="#" target="_blank" class="btn btn-link">&nbsp; &nbsp; &nbsp; &nbsp;</a>
                                                                    }
                                                                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                                        Chi tiết
                                                                    </button>
                                                                    <div class="dropdown-menu" role="menu">
                                                                        <a class="dropdown-item ajax-modal" data-toggle="ajax-modal" data-target="#reportVersion" data-url="/Report/Version?id=@item.IDBieuMau">Phiên bản</a>
                                                                        <a class="dropdown-item ajax-modal" data-toggle="ajax-modal" data-target="#reportSoft" data-url="/Report/Soft?id=@item.IDBieuMau">Phần mềm</a>
                                                                        <a class="dropdown-item ajax-modal" data-toggle="ajax-modal" data-target="#reportDetail" data-url="/Report/Detail?id=@item.IDBieuMau">Chi tiết</a>
                                                                    </div>
                                                                    <div id="ReportPopup"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <!-- Phân trang và đánh số trang-->
                                    @{
                                        var prevDisabled = !Model.PagingLists.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.PagingLists.HasNextPage ? "disabled" : "";
                                        var totalPageNo = Model.PagingLists.TotalPageNo;
                                        var currentPageNo = Model.PagingLists.PageIndex;
                                    }
                                    <div class="row">
                                        <a asp-action="Index"
                                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                                           asp-route-pageNo="@(Model.PagingLists.PageIndex - 1)"
                                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                           class="btn btn-default @prevDisabled">
                                            Trang trước
                                        </a>
                                        @*@for (int p = 1; p <= Model.PagingLists.TotalPageNo; p++ )
                                        {
                                           <a asp-action="Index"
                                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                                           asp-route-pageNo="@p"
                                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                           class="btn btn-default">@p</a>
                                        }*@
                                        <a asp-action="Index"
                                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                                           asp-route-pageNo="@(Model.PagingLists.PageIndex + 1)"
                                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                           class="btn btn-default @nextDisabled">
                                            Trang sau
                                        </a>
                                        <div class="col text-right"><span>Trang: @currentPageNo trên @totalPageNo</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



