@model WebTools.Models.BangKeChiPhiVM
<style>
    .noidung {
        color: dodgerblue;
        font-weight: bold;
    }

    .thongtinbenhnhan {
        margin-left: 10px;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Times New Roman';
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .dataTables_info {
        display: none;
    }
</style>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="addRolesLabel" aria-hidden="true" id="PhieuThanhToanPopup">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="formPhieuThanhToan" method="post">
                        @if (Model.loai == "2")
                        {<div class="text-center title">Phiếu Thanh Toán</div> }
                        else
                        { <div class="text-center title">Bảng Kê chi phí khám chữa bệnh</div>}
                        <div class="thongtinbenhnhan">
                            <div class="row">
                                <div class="col-6">
                                    <label class="col-form-label col-2 pl-0" style="margin-right: 37px;">Họ và tên:</label>
                                    <label class="col-form-label col-auto noidung">@Model.BangKeChiPhi.hoten</label>
                                    <input type="hidden" id="HoTen" name="HoTen" value="@Model.BangKeChiPhi.hoten" />
                                    <input type="hidden" id="SoThe" name="SoThe" value="@Model.BangKeChiPhi.sothe" />
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="col-form-label col-auto">Số biên lai:</label>
                                            <label class="col-form-label col-auto noidung">@Model.BangKeChiPhi.sobienlai</label>
                                            <input type="hidden" id="SoBienLai" name="SoBienLai" value="@Model.BangKeChiPhi.sobienlai" />
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Đơn vị bảo lãnh:</label>
                                                <div class="col">
                                                    <select class="form-control selectDonViBaoLanh" style="width: 100%;" asp-items="@Model.DonViBaoLanh" name="DonViBaoLanh" id="DonViBaoLanh">
                                                        <option value="" selected>Chọn đơn vị</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-7">
                                            <label class="col-form-label col-5 pl-0">Mã khách hàng:</label>
                                            <label class="col-form-label col-auto noidung">@Model.BangKeChiPhi.mabn</label>
                                            <input type="hidden" id="MaKH" name="MaKH" value="@Model.BangKeChiPhi.mabn" />
                                        </div>
                                        <div class="col-5">
                                            <label class="col-form-label col-6">Ngày sinh:</label>
                                            <label class="col-form-label col-auto noidung" id="lbNgaySinh"></label>
                                            <input type="hidden" id="NgaySinh" name="NgaySinh" value="@Model.BangKeChiPhi.ngaysinh" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="col-form-label col-6">Giới tính:</label>
                                            <label class="col-form-label col-auto noidung">@Model.BangKeChiPhi.gioitinh</label>
                                            <input type="hidden" id="GioiTinh" name="GioiTinh" value="@Model.BangKeChiPhi.gioitinh" />
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Khoa/Phòng:</label>
                                                <div class="col">
                                                    <select class="form-control selectKhoaPhong" style="width: 100%;" asp-items="@Model.KhoaPhong" name="KhoaPhong" id="KhoaPhong">
                                                        <option value="" selected>Chọn khoa phòng</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-7">
                                            <label class="col-form-label col-5 pl-0">Tổng chi phí:</label>
                                            <label class="col-form-label col-auto noidung" id="lbTongTien"></label>
                                            <input type="hidden" id="TongSoTien" name="TongSoTien" value="@Model.BangKeChiPhi.tongsotien" />
                                        </div>
                                        <div class="col-5">
                                            <label class="col-form-label col-6">BHYT chi trả:</label>
                                            <label class="col-form-label col-auto noidung" id="lbTongBHYT"></label>
                                            <input type="hidden" id="TongBHYT" name="TongBHYT" value="@Model.BangKeChiPhi.tongbhyt" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">BHTN thanh toán:</label>
                                                <label class="col-form-label col-auto noidung" id="lbTongBHTN"></label>
                                                <input type="hidden" id="BNTT" name="BNTT" value="@Model.BangKeChiPhi.tongbhtn" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-1 mr-5">Ghi chú:</label>
                                <div class="col">
                                    <input type="text" class="form-control" id="GhiChu" name="GhiChu" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-7">
                                            <label class="col-form-label col-5 pl-0">Vào viện lúc:</label>
                                            <label class="col-form-label col-auto noidung" id="lbNgayVao"></label>
                                            <input type="hidden" id="NgayVao" name="NgayVao" value="@Model.BangKeChiPhi.ngayvao" />
                                        </div>
                                        <div class="col-5 pr-4">
                                            <div class="form-group row">
                                                <input type="radio" class="form-check" id="TiLeCheckbox" name="LoaiApDung" value="1" /><label for="TiLeCheckbox" class="col-form-label col-auto">Tỷ lệ thanh toán:</label>
                                                <input type="text" class="form-control col" id="TiLeThanhToan" name="TiLeThanhToan" data-mask="soluong" autocomplete="off" />
                                                <label class="col-form-label col-auto">%</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-8 pl-4">
                                            <div class="form-group row">
                                                <input type="radio" class="form-check" id="SoTienCheckbox" name="LoaiApDung" value="2" checked /><label for="SoTienCheckbox" class="col-form-label col-auto">Số tiền thanh toán:</label>
                                                <div class="col mr-5"><input type="text" class="form-control" id="SoTienThanhToan" name="SoTienThanhToan" data-mask="money" autocomplete="off" /></div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" class="btn btn-success btn-sm" id="btnApDung">Áp dụng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-form-label col-auto" style="margin-right:27px">Các khoa phòng:</label>
                                <label class="col-form-label col-auto noidung">@Model.BangKeChiPhi.tenkp</label>
                                <input type="hidden" id="CacKP" name="CacKP" value="@Model.BangKeChiPhi.tenkp" />
                            </div>
                            <div class="row">
                                <label class="col-form-label col-1 mr-5">Chẩn đoán:</label>
                                <label class="col-form-label col-auto noidung">@Model.BangKeChiPhi.chandoan</label>
                                <input type="hidden" id="ChanDoan" name="ChanDoan" value="@Model.BangKeChiPhi.chandoan" />
                            </div>
                            <input type="hidden" id="idBenhNhan" name="idBenhNhan" value="@Model.id" />
                            <input type="hidden" id="Loai" name="Loai" value="@Model.loai" />
                            <input type="hidden" id="count" name="count" />
                        </div>
                        <table class="table table-striped table" style="width:100%" id="tableBangKe1">
                            <thead>
                                <tr>
                                    <th class="text-nowrap" style="vertical-align: middle;"><input type="checkbox" class="selectAll" id="selectAll" name="selectAll" value="all"></th>
                                    <th class="text-nowrap" style="vertical-align: middle;">STT</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">Nội dung</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">Đơn vị</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">Đơn giá</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">Số lượng</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">Số lượng TT</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">Thành tiền</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">BHYT tri trả</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">BHTN thanh toán</th>
                                    <th class="text-nowrap" style="vertical-align: middle;">KH tri trả</th>
                                </tr>
                            </thead>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row justify-content-center col-12">
                        <div class="col-2"><button type="button" class="btn btn-primary col" data-save="modalFile">Lưu</button></div>
                        <div class="col-2 ml-5 mr-5"> <a class="btn btn-success col" href="/Reports/BangKeVienPhi?id=@Model.id&loai=@Model.loai" target="_blank">Bảng kê BHTN</a></div>
                        <div class="col-2 ml-5 mr-5"><a class="btn btn-success col" href="/ExportExcel/BangKeChiPhiExcel?id=@Model.id&loai=@Model.loai">Xuất Excel BKBH</a></div>
                        <div class="col-2"><button type="button" class="btn btn-danger col" data-dismiss="modal">Đóng</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.selectDonViBaoLanh').select2({
            dropdownParent: $('#PhieuThanhToanPopup')
        });

        $('.selectKhoaPhong').select2({
            dropdownParent: $('#PhieuThanhToanPopup')
        });
        $('[data-mask="soluong"]').inputmask({ numericInput: true, placeholder: " " });
        $('[data-mask="money"]').inputmask({ numericInput: true, placeholder: " " });

        document.getElementById("lbTongTien").innerText = FormatCurrencyVND(document.getElementById("TongSoTien").value, "currency", "code", 2);
        document.getElementById("lbTongBHYT").innerText = FormatCurrencyVND(document.getElementById("TongBHYT").value, "currency", "code", 2);
        document.getElementById("lbTongBHTN").innerText = FormatCurrencyVND(document.getElementById("BNTT").value, "currency", "code", 2);
        document.getElementById("lbNgaySinh").innerText = FormatDatetime(document.getElementById("NgaySinh").value, "1");
        document.getElementById("lbNgayVao").innerText = FormatDatetime(document.getElementById("NgayVao").value, "2");

        var columnData = [
            {
                "data": { id: "id", stt: "stt", checked: "checked" },
                "render": function (data, type, full, meta) {
                    if (data.id == null || data.id == "") { return '<input type="checkbox" class="rowcheck" id="tbCheckBox-' + meta.row + '" name="tbCheckBox-' + meta.row + '" hidden/>'; }
                    else {
                        if (data.checked === "1") {
                            return '<input type="checkbox" class="rowcheck" id="tbCheckBox-' + meta.row + '" name="tbCheckBox-' + meta.row + '" value="1" checked />';
                        }
                        else {
                            return '<input type="checkbox" class="rowcheck" id="tbCheckBox-' + meta.row + '" name="tbCheckBox-' + meta.row + '" value="1" />';
                        }                  
                    }
                },
            },
            {
                "data": { stt: "stt", id: "id", sobienlai: "sobienlai", mavp: "mavp", mavaovien: "mavaovien", maql: "maql", makp: "makp", nhomvp: "nhomvp", manhomvp: "manhomvp", madoituong: "madoituong" },
                "render": function (data, type, full, meta) {
                    var id = '<input type="hidden" id="tbID-' + meta.row + '" name="tbID-' + meta.row + '" value="' + data.id + '" />';
                    //var sobienlai = '<input type="hidden" id="tbSoBienLai-' + meta.row + '" name="tbSoBienLai-' + meta.row + '" value="' + data.sobienlai + '" />'
                    var mavp = '<input type="hidden" id="tbMaVP-' + meta.row + '" name="tbMaVP-' + meta.row + '" value="' + data.mavp + '" />';
                    var mavaovien = '<input type="hidden" id="tbMaVaoVien-' + meta.row + '" name="tbMaVaoVien-' + meta.row + '" value="' + data.mavaovien + '" />';
                    var maql = '<input type="hidden" id="tbMaQL-' + meta.row + '" name="tbMaQL-' + meta.row + '" value="' + data.maql + '" />';
                    var makp = '<input type="hidden" id="tbMaKP-' + meta.row + '" name="tbMaKP-' + meta.row + '" value="' + data.makp + '" />';
                    var nhomvp = '<input type="hidden" id="tbNhomVP-' + meta.row + '" name="tbNhomVP-' + meta.row + '" value="' + data.nhomvp + '" />';
                    var manhomvp = '<input type="hidden" id="tbMaNhomVP-' + meta.row + '" name="tbMaNhomVP-' + meta.row + '" value="' + data.manhomvp + '" />';
                    var madoituong = '<input type="hidden" id="tbMaDoiTuong-' + meta.row + '" name="tbMaDoiTuong-' + meta.row + '" value="' + data.madoituong + '" />';
                    var input = id + mavp + makp + nhomvp + manhomvp + madoituong + mavaovien + maql;
                    if (data.id == null || data.id == "") { input += '<input type="hidden" id="tbSTT-' + meta.row + '" name="tbSTT-' + meta.row + '" value="' + data.stt + '" />'; }
                    else { input += '<input type="hidden" id="tbSTT-' + meta.row + '" name="tbSTT-' + meta.row + '" value="' + data.stt + '" />' + data.stt; }
                    return input;
                },
                "class": "text-center"
            },
            {
                "data": { ten: "ten", thanhtien: "thanhtien", bntra: "bntra", stt: "stt", id: "id", nhomvp: "nhomvp" },
                "render": function (data, type, full, meta) {
                    var ten = '<input type="hidden" id="tbNoiDung-' + meta.row + '" name="tbNoiDung-' + meta.row + '" value="' + data.ten + '" />';
                    if (data.id == null || data.id == "") {
                        if (data.nhomvp == null || data.nhomvp == "") {
                            ten += '<div class="font-weight-bold font-italic">' + data.ten + '</div>';
                        }
                        else {
                            ten += '<div class="font-weight-bold">' + data.ten + '</div>';
                        }
                    }
                    else { ten += data.ten; }
                    return ten;
                }
            },
            {
                "data": { stt: "stt", dvt: "dvt", id: "id" },
                "render": function (data, type, full, meta) {
                    if (data.id == null || data.id == "") { return '<input type="hidden" id="tbDonGia-' + meta.row + '" name="tbDonGia-' + meta.row + '" value="' + data.dongia + '" />'; }
                    else { return '<input type="hidden" id="tbDVT-' + meta.row + '" name="tbDVT-' + meta.row + '" value="' + data.dvt + '" />' + data.dvt; }
                },
            },
            {
                "data": { stt: "stt", dongia: "dongia", id: "id" },
                "render": function (data, type, full, meta) {
                    if (data.id == null || data.id == "") { return '<input type="hidden" id="tbDonGia-' + meta.row + '" name="tbDonGia-' + meta.row + '" value="' + data.dongia + '" />'; }
                    else { return '<input type="hidden" id="tbDonGia-' + meta.row + '" name="tbDonGia-' + meta.row + '" value="' + data.dongia + '" />' + FormatCurrencyVND(data.dongia, "decimal", "code", 2); }
                },
            },
            {
                "data": { stt: "stt", soluong: "soluong", id: "id" },
                "render": function (data, type, full, meta) {
                    if (data.id == null || data.id == "") { return '<input type="hidden" id="tbSoLuong-' + meta.row + '" name="tbSoLuong-' + meta.row + '" value="' + data.soluong + '" />'; }
                    else { return '<input type="hidden" id="tbSoLuong-' + meta.row + '" name="tbSoLuong-' + meta.row + '" value="' + data.soluong + '" />' + FormatCurrencyVND(data.soluong, "decimal", "code"); }
                },
                "class": "text-center"
            },
            {
                "data": { stt: "stt", soluongtt: "soluongtt", id: "id" },
                "render": function (data, type, full, meta) {
                    if (data.soluongtt <= 0 || data.soluongtt == null) { data.soluongtt = ""; }
                    if (data.id == null || data.id == "") { return '<input type="hidden" class="form-control" id="tbSoLuongTT-' + meta.row + '" name="tbSoLuongTT-' + meta.row + '" data-mask="soluong" />'; }
                    else { return '<input type="text" class="form-control" id="tbSoLuongTT-' + meta.row + '" name="tbSoLuongTT-' + meta.row + '" value="' + data.soluongtt + '" data-mask="soluong" autocomplete="off" />'; }
                },
            },
            {
                "data": { stt: "stt", thanhtien: "thanhtien", id: "id" },
                "render": function (data, type, full, meta) {
                    var thanhtien = '<input type="hidden" id="tbThanhTien-' + meta.row + '" name="tbThanhTien-' + meta.row + '" value="' + data.thanhtien + '" />';
                    if (data.thanhtien <= 0 || data.thanhtien == null) { thanhtien += "" }
                    else {
                        if (data.id == null || data.id == "") { thanhtien += '<div class="font-weight-bold">' + FormatCurrencyVND(data.thanhtien, "decimal", "code", 2) + '</div>'; }
                        else { thanhtien += FormatCurrencyVND(data.thanhtien, "decimal", "code", 2); }
                    }
                    return thanhtien;
                },
            },
            {
                "data": { stt: "stt", bhyttra: "bhyttra", id: "id" },
                "render": function (data, type, full, meta) {
                    if (data.id == null || data.id == "") { return '<input type="hidden" class="form-control inputText" id="tbBHYTTra-' + meta.row + '" name="tbBHYTTra-' + meta.row + '" value="' + data.bhyttra + '" />'; }
                    else { return '<input type="hidden" class="form-control inputText" id="tbBHYTTra-' + meta.row + '" name="tbBHYTTra-' + meta.row + '" value="' + data.bhyttra + '" />' + FormatCurrencyVND(data.bhyttra, "decimal", "code", 2); }
                },
            },
            {
                "data": { stt: "stt", bhtn: "bhtn", id: "id" },
                "render": function (data, type, full, meta) {
                    if (data.id == null || data.id == "") { return '<input type="hidden" class="form-control" id="tbBNTNThanhToan-' + meta.row + '" name="tbBNTNThanhToan-' + meta.row + '" data-mask="money" data-target="money-' + meta.row + '" />'; }
                    else {
                        if (data.bhtn > 0) {
                            return '<input type="text" class="form-control" style="width: 104px;" id="tbBNTNThanhToan-' + meta.row + '" name="tbBNTNThanhToan-' + meta.row + '" value="' + data.bhtn + '" data-mask="money" data-target="money-' + meta.row + '" autocomplete="off" />';
                        }
                        else {
                            return '<input type="text" class="form-control" style="width: 104px;" id="tbBNTNThanhToan-' + meta.row + '" name="tbBNTNThanhToan-' + meta.row + '" data-mask="money" data-target="money-' + meta.row + '" autocomplete="off" />';
                        }                       
                    }
                },
            },
            {
                "data": { stt: "stt", bntra: "bntra" },
                "render": function (data, type, full, meta) {
                    var bntra = '<input type="hidden" id="tbBNTra-' + meta.row + '" name="tbBNTra-' + meta.row + '" value="' + data.bntra + '" />';
                    if (data.bntra <= 0) { bntra += ""; }
                    else {
                        if (data.stt <= 0) { bntra += '<div class="font-weight-bold">' + FormatCurrencyVND(data.bntra, "decimal", "code", 2) + '</div>'; }
                        else { bntra += FormatCurrencyVND(data.bntra, "decimal", "code", 2); }
                    }
                    return bntra;
                },
            },
        ]

        var idBenhNhan = document.getElementById("idBenhNhan").value;
        var loai = document.getElementById("Loai").value;
        var table = $('#tableBangKe1').DataTable({
            "processing": true,
            "autoWidth": true,
            "responsive": true,
            "lengthChange": false,
            "searching": false,
            "info": true,
            "ordering": false,
            "paging": false,
            "fixedHeader": true,
            "pageLength": 300,
            "scrollY": 480,
            "scrollX": true,
            "scrollCollapse": true,
            "deferRender": true,
            "ajax": {
                "url": "/BangKeChiPhi/GetPhieuThanhToan?id=" + idBenhNhan + "&loai=" + loai,
                "type": "GET",
                "datatype": "json"
            },
            "columns": columnData,
            "columnDefs": [
                { className: "text-wrap", targets: "_all" },
                { defaultContent: '', targets: "_all" },
            ],
            "language": {
                "sProcessing": "Đang tải dữ liệu...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            },
        });
        $('thead input[name="selectAll"]', table.table().container()).on('click', function (e) {
            if ($(this).is(":checked")) {
                $('#tableBangKe1 tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                $('#tableBangKe1 tbody input[type="checkbox"]:checked').trigger('click');
            }
            //e.stopPropagation();
        });

        $('#PhieuThanhToanPopup').on('shown.bs.modal', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            $(this).formatInput_MaskCurrency('[data-mask="money"]',0);
            $('[data-mask="soluong"]').inputmask({ alias: 'numeric'});
        });

        function checkApDung() {
            var loaiApDung = $("input[name='LoaiApDung']:checked").val() || "";
            var tile = ((document.getElementById("TiLeThanhToan") || {}).value) || "";
            var sotien = ((document.getElementById("SoTienThanhToan") || {}).value) || "";
            if (loaiApDung !== "") {
                if (loaiApDung === "1" && tile !== "") { return true; }
                else if (loaiApDung === "1" && tile === "") {
                    $(this).callToast("info", "Thông báo!", "Xin nhập <strong> Tỷ lệ thanh toán </strong> trước khi áp dụng.");
                    return false;
                }
                if (loaiApDung === "2" && sotien !== "") { return true; }
                else if (loaiApDung === "2" && sotien === "") {
                    $(this).callToast("info", "Thông báo!", "Xin nhập <strong> Số tiền thanh toán </strong> trước khi áp dụng.");
                    return false;
                }
            }
            else { $(this).callToast("info", "Thông báo!", "Chọn <strong> loại Áp dụng </strong> trước khi áp dụng."); return false; }
        }

        $('body .modal').on('click', '#btnApDung', function () {
            document.getElementById("count").value = table.rows().count();
            if (checkApDung()) {
                var data = $("#formPhieuThanhToan").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/BangKeChiPhi/XuLyDuLieu',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                    data: data,
                    //beforeSend: function () {
                    //    toastr.info('Đang xử lý dữ liệu!');
                    //},
                    success: function (data) {
                        $(this).callToast(data.result, data.title, data.message);
                        $(this).callDataTableScroll_Json('#tableBangKe1', columnData, data.data);
                        $(this).formatInput_MaskCurrency('[data-mask="money"]', 0);
                        $('[data-mask="soluong"]').inputmask({ alias: 'numeric' });
                    },
                    error: function (data) {
                        $(this).callToast(data.result, data.title, data.message);
                    },
                    //complete: function (data) {                       
                    //},
                })
            }
        });
    });
    $(document).ready(function () {
        $('.selectDonViBaoLanh').select2({
            dropdownParent: $('#PhieuThanhToanPopup')
        });

        $('.selectKhoaPhong').select2({
            dropdownParent: $('#PhieuThanhToanPopup')
        });
    });
</script>


