@model WebTools.Models.BangKeChiPhiVM
<style>
    .noidung {
        color: dodgerblue;
        font-weight: bold;
    }

    .thongtinbenhnhan {
        margin-left: 10px;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Times New Roman';
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .dataTables_info {
        display: none;
    }

    #data-table-basic_wrapper .dataTable, #data-table-basic_wrapper .dataTables_scrollHeadInner {
        width: 100% !important;
    }
</style>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="addRolesLabel" aria-hidden="true" id="PhieuThanhToanPopup">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="formPhieuThanhToan" method="post"></form>
                    <div class="text-center title">Phiếu Thanh Toán</div>
                    <div class="thongtinbenhnhan">
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label col-2 pl-0" style="margin-right: 37px;">Họ và tên:</label>
                                <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.hoten</label>
                                <input type="hidden" id="HoTen" name="HoTen" value="@Model.bangKeChiPhi.hoten" />
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="col-form-label col-auto">Số biên lai:</label>
                                        <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.sobienlai</label>
                                        <input type="hidden" id="SoBienLai" name="SoBienLai" value="@Model.bangKeChiPhi.sobienlai" />
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Đơn vị bảo lãnh:</label>
                                            <div class="col">
                                                <select id="DonViBaoLanh" name="DonViBaoLanh" class="form-control">
                                                    <option value="1">Prudential</option>
                                                    <option value="2">Prudential 2</option>
                                                    <option value="-">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-7">
                                        <label class="col-form-label col-5 pl-0">Mã khách hàng:</label>
                                        <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.mabn</label>
                                        <input type="hidden" id="MaKH" name="MaKH" value="@Model.bangKeChiPhi.mabn" />
                                    </div>
                                    <div class="col-5">
                                        <label class="col-form-label col-6">Ngày sinh:</label>
                                        <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.ngaysinh</label>
                                        <input type="hidden" id="NgaySinh" name="NgaySinh" value="@Model.bangKeChiPhi.ngaysinh" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="col-form-label col-6">Giới tính:</label>
                                        <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.gioitinh</label>
                                        <input type="hidden" id="GioiTinh" name="GioiTinh" value="@Model.bangKeChiPhi.gioitinh" />
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Khoa/Phòng:</label>
                                            <div class="col">
                                                <select class="form-control selectURD2" style="width: 100%;" data-placeholder="Chọn" asp-items="@Model.Depts" name="KhoaPhong" id="KhoaPhong">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-7">
                                        <label class="col-form-label col-5 pl-0">Tổng chi phí:</label>
                                        <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.tongsotien</label>
                                        <input type="hidden" id="TongSoTien" name="TongSoTien" value="@Model.bangKeChiPhi.tongsotien" />
                                    </div>
                                    <div class="col-5">
                                        <label class="col-form-label col-6">BHYT chi trả:</label>
                                        <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.tongbhyt</label>
                                        <input type="hidden" id="TongBHYT" name="TongBHYT" value="@Model.bangKeChiPhi.tongbhyt" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">BHTN thanh toán:</label>
                                            <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.bntra</label>
                                            <input type="hidden" id="BNTT" name="BNTT" value="@Model.bangKeChiPhi.bntra" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-1 mr-5">Ghi chú:</label>
                            <div class="col">
                                <input type="text" class="form-control" id="GhiChu" name="GhiChu" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-7">
                                        <label class="col-form-label col-5 pl-0">Vào viện lúc:</label>
                                        <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.ngayvao</label>
                                        <input type="hidden" id="NgayVao" name="NgayVao" value="@Model.bangKeChiPhi.ngayvao" />
                                    </div>
                                    <div class="col-5 pr-4">
                                        <div class="form-group row">
                                            <input type="checkbox" class="form-check" id="TiLeCheckbox" name="TiLeCheckbox" /><label class="col-form-label col-auto">Tỷ lệ thanh toán:</label>
                                            <input type="text" class="form-control col" id="TiLeThanhToan" name="TiLeThanhToan" />
                                            <label class="col-form-label col-auto">%</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-8 pl-4">
                                        <div class="form-group row">
                                            <input type="checkbox" class="form-check" id="SoTienCheckbox" name="SoTienCheckbox" /><label class="col-form-label col-auto">Số tiền thanh toán:</label>
                                            <div class="col mr-5"><input type="text" class="form-control" id="SoTienThanhToan" name="SoLuongThanhToan" /></div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row justify-content-between">
                                            <button type="button" class="btn btn-success btn-sm" id="btnApDung">Áp dụng</button>
                                            <button type="button" class="btn btn-success btn-sm" id="btnXuLyDuLieu">Xử lý dữ liệu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-form-label col-auto" style="margin-right:27px">Các khoa phòng:</label>
                            <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.tenkp</label>
                            <input type="hidden" id="CacKP" name="CacKP" value="@Model.bangKeChiPhi.tenkp" />
                        </div>
                        <div class="row">
                            <label class="col-form-label col-1 mr-5">Chẩn đoán:</label>
                            <label class="col-form-label col-auto noidung">@Model.bangKeChiPhi.chandoan</label>
                            <input type="hidden" id="ChanDoan" name="ChanDoan" value="@Model.bangKeChiPhi.chandoan" />
                        </div>
                    </div>
                    <table class="table table-bordered table-striped" id="tableBangKe1">
                        <thead>
                            <tr>
                                <th class="text-nowrap"><input type="checkbox" class="selectAll" id="selectAll" name="selectAll" value="all"></th>
                                <th class="text-nowrap">STT</th>
                                <th class="text-nowrap">Nội dung</th>
                                <th class="text-nowrap">Đơn vị</th>
                                <th class="text-nowrap">Đơn giá</th>
                                <th class="text-nowrap">Số lượng</th>
                                <th class="text-nowrap">Số lượng TT</th>
                                <th class="text-nowrap">Thành tiền</th>
                                <th class="text-nowrap">BHYT tri trả</th>
                                <th class="text-nowrap">BHTN thanh toán</th>
                                <th class="text-nowrap">KH tri trả</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row justify-content-center col-12">
                        <input type="hidden" id="count" name="count" />
                        <div class="col-2"><button type="submit" class="btn btn-primary col" data-save="modalFile">Lưu</button></div>
                        <div class="col-2 ml-5 mr-5"> <button type="button" class="btn btn-success col">Bảng kê BHTN</button></div>
                        <div class="col-2"><button type="button" class="btn btn-success col">Bảng kê viện phí</button></div>
                    </div>
                    <div class="row justify-content-center col-12">
                        <div class="col-2"><button type="button" class="btn btn-danger col" data-dismiss="modal">Đóng</button></div>
                        <div class="col-2 ml-5 mr-5"><button type="button" class="btn btn-success col">Xuất Excel BKBH</button></div>
                        <div class="col-2"><button type="button" class="btn btn-success col">Xuất Excel BKVP</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var columnData = [
            {
                "data": { id: "id", stt: "stt" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return '<input type="checkbox" class="rowcheck" id="checkbox" name="checkbox-' + meta.row + '" hidden/>'; }
                    else { return '<input type="checkbox" class="rowcheck" id="checkbox" name="checkbox-' + meta.row + '" />'; }
                },
                "class": "text-center"
            },
            { "data": "stt", },
            { "data": "ten", },
            { "data": "dvt", },
            {
                "data": { id: "id", dongia: "dongia" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return '<input type="hidden" id="DonGia-' + meta.row + '" name="DonGia-' + meta.row + '" value="0" />'; }
                    else { return '<input type="hidden" id="DonGia-' + meta.row + '" name="DonGia-' + meta.row + '" value="' + data.dongia + '" />' + data.dongia; }
                }
            },
            {
                "data": { id: "id", soluong: "soluong" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return '<input type="hidden" id="SoLuong-' + meta.row + '" name="SoLuong-' + meta.row + '" value="0" />'; }
                    else { return '<input type="hidden" id="SoLuong-' + meta.row + '" name="SoLuong-' + meta.row + '" value="' + data.soluong + '" />' + data.soluong; }
                }
            },
            {
                "data": { id: "id", stt: "stt" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return '<input type="hidden" class="form-control inputText" id="SoLuongTT-' + meta.row + '" name="SoLuongTT-' + meta.row + '" value="0" />' }
                    else { return '<input type="text" class="form-control inputText" id="SoLuongTT-' + meta.row + '" name="SoLuongTT-' + meta.row + '" />'; }
                },
            },
            {
                "data": { id: "id", thanhtien: "thanhtien" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return null }
                    else { return data.thanhtien; }
                },
            },
            {
                "data": { id: "id", bhyttra: "bhyttra" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return '<input type="hidden" class="form-control inputText" id="BHYTTra-' + meta.row + '" name="BHYTTra-' + meta.row + '" value="0" />'; }
                    else { return '<input type="hidden" class="form-control inputText" id="BHYTTra-' + meta.row + '" name="BHYTTra-' + meta.row + '" value="' + data.bhyttra + '" />' + data.bhyttra; }
                },
            },
            {
                "data": { id: "id", bhtn: "bhtn" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return '<input type="hidden" class="form-control inputText" id="BNTTThanhToan-' + meta.row + '" name="BNTTThanhToan-' + meta.row + '"  value="0" />' }
                    else { return '<input type="text" class="form-control inputText" id="BNTTThanhToan-' + meta.row + '" name="BNTTThanhToan-' + meta.row + '"  value="' + data.bhtn + '" />'; }
                },
            },
            {
                "data": { id: "id", bntra: "bntra" },
                "render": function (data, type, full, meta) {
                    if (data.id === "" || data.id === null) { return null }
                    else { return data.bntra; }
                },
            },
        ]
        setTimeout(function () {
            var table = $(this).callDataTableScroll('#tableBangKe1', columnData, "/BangKeChiPhi/GetPhieuThanhToan?id=@ViewBag.id");
        }, 100);
        $('thead input[name="selectAll"]', table.table().container()).on('click', function (e) {
            if ($(this).is(":checked")) {
                $('#tableBangKe1 tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                $('#tableBangKe1 tbody input[type="checkbox"]:checked').trigger('click');
            }
            //e.stopPropagation();
        });


        $('body .modal').on('click', '#btnApDung', function () {
            var count = table.rows().count();
            var TiLeThanhToan = parseInt(((document.getElementById("TiLeThanhToan") || {}).value) || 0);
            for (var i = 0; i <= count; i++) {
                var SoLuongTT = parseInt(((document.getElementById("SoLuongTT-" + i) || {}).value) || 0);
                var SoLuong = parseInt(((document.getElementById("SoLuong-" + i) || {}).value) || 0);
                var DonGia = parseFloat(((document.getElementById("DonGia-" + i) || {}).value) || 0);
                if (DonGia > 0) {
                    if (SoLuongTT == 0) {
                        var bntt = SoLuong * DonGia * TiLeThanhToan / 100;
                    }
                    else {
                        var bntt = SoLuongTT * DonGia * TiLeThanhToan / 100;
                    }
                    console.log(SoLuong + "|" + SoLuongTT + "|" + DonGia + "|" + TiLeThanhToan + "|" + bntt);
                    document.getElementById("BNTTThanhToan-" + i).value = bntt;
                }
            }
        });
        $('body .modal').on('click', '#btnXuLyDuLieu', function () {
        });

    });
    $(function () {
        //var string = $('#txtURD').val();
        //var array = string.split(",").map(Number);
        //Dropdown
        $('.selectURD2').select2()
        //$('#SearchURD').val(array);
        //$('#SearchURD').trigger('change');
        $('.inputText').inputmask("999.999.999", { numericInput: true, placeholder: " " });
    });
    $(function () {
        $('body .modal').on('click', '[data-save="modalFile"]', function (event) {
            event.preventDefault();
            document.getElementById("count").value = table.rows().count();
            var data = $("#formPhieuThanhToan").serialize();
            alert(data);
            $.ajax({
                type: 'POST',
                url: '/BangKeChiPhi/AddPhieuThanhToan',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                data: data,
                success: function (data) {
                    $(this).callToast(data.result, data.title, data.message);
                },
                error: function (data) {
                    $(this).callToast(data.result, data.title, data.message);
                }
            })
        });
    });
</script>


