@model WebTools.Models.UsersViewModel
@{
    Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editUsersLabel" aria-hidden="true" id="UsersPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phân quyền cho người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Permission" asp-action="EditUsers" id="userForm">
                    @Html.AntiForgeryToken()
                    <div class="row form-group" hidden>
                        <div class="col-2"><label for="UserID">ID:</label></div>
                        <div class="col">
                            <input type="text" class="form-control" name="UserID" id="UserID" value="@Model.Users.UserID" readonly />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2"><label for="DisplayName">Họ và tên:</label></div>
                        <div class="col"><input type="text" class="form-control" name="DisplayName" id="DisplayName" value="@Model.Users.DisplayName" readonly /></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2"><label for="UserName">Tài khoản:</label></div>
                        <div class="col"><input type="text" class="form-control" name="UserName" id="UserName" value="@Model.Users.UserName" readonly /></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2"><label for="Email">Email:</label></div>
                        <div class="col"><input type="text" class="form-control" name="Email" id="Email" value="@Model.Users.Email" readonly /></div>
                    </div>                    
                    <div class="row form-group">
                        @*<div class="col-2"><label for="Status">Trạng thái:</label></div>*@
                        <div class="col">
                            <input type="hidden" class="form-control" name="Status" id="Status" value="@Model.Users.Status" readonly />
                            <input type="hidden" class="form-control" name="Source" id="Source" value="@Model.Users.Source" readonly />
                            <input type="hidden" class="form-control" name="Password" id="Password" value="@Model.Users.Password" readonly />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" data-save="modalFile">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>