@model WebTools.Models.RoleControllerActionViewModel

@{
    ViewData["Title"] = "Quản lý Controller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                @{
                    if (TempData["SuccessMsg"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () { toastr["success"]('@TempData["SuccessMsg"]');}
                        </script>

                    }
                    if (TempData["ErrorMsg"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () { toastr["error"]('@TempData["ErrorMsg"]');}
                        </script>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <!--Bảng biểu mẫu -->
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Danh sách Action</h3>
                                        @* <a class="btn btn-success justify-content-end" data-toggle="ajax-modal" data-target="#addRoles" data-url="/Roles/CreateRoles"><i class="fa fa-plus"></i> &nbsp Thêm Role</a>*@
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form>
                                        <div class="card-body">
                                            <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" id="tableController">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Controller</th>
                                                        <th>Action</th>
                                                        <th>Mô tả</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        if (Model.RoleControllerActionLists != null && Model.RoleControllerActionLists.Count > 0)
                                                        {
                                                            foreach (var item in Model.RoleControllerActionLists)
                                                            {
                                                                <tr>
                                                                    <td>@item.ActionID</td>
                                                                    <td>@item.ControllerName</td>
                                                                    <td>@item.ActionName</td>
                                                                    <td>@item.Description</td>
                                                                    <td>
                                                                        <div class="btn-group">
                                                                            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                                                                                Action
                                                                            </button>
                                                                            <div class="dropdown-menu" role="menu">
                                                                                <a class="dropdown-item" data-toggle="ajax-modal" data-target="#editAction" data-url="/Permission/EditAction?id=@item.ActionID"><i class="fa fa-pencil-alt"></i> &nbspSửa</a>
                                                                                <a class="dropdown-item" href="/Permission/DeleteAction?id=@item.ActionID"><i class="fa fa-trash-alt"></i> &nbspXóa</a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Thêm Action</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form method="post" asp-controller="Permission" asp-action="CreateAction" id="actionForm">
                                        <div class="card-body">
                                            <div class="row form-group" hidden>
                                                <div class="col-2"><label for="ActionID">ID:</label></div>
                                                <div class="col">
                                                    <input type="text" class="form-control" name="ActionID" id="ActionID" readonly />
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-2"><label for="ControllerID">Controller:</label></div>
                                                <div class="col">
                                                    <select asp-items="@Model.SelectController" class="select2" data-placeholder="Chọn Controller" style="width: 100%;" name="ControllerID" id="ControllerID">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-2"><label for="ActionName">Action:</label></div>
                                                <div class="col">
                                                    <input type="text" class="form-control" name="ActionName" id="ActionName" />
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-2"><label for="Description">Mô tả:</label></div>
                                                <div class="col"><textarea rows="4" class="form-control" name="Description" id="Description"></textarea></div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            <div class="row justify-content-center">
                                                <div class="col-auto mr-3">
                                                    <button type="reset" class="btn btn-info">Làm mới</button>
                                                </div>
                                                <div class="col-auto">
                                                    <button type="submit" class="btn btn-success">Thêm mới</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ReportPopup"></div>
</section>